
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Friday, December 28th</H4>
    <p>Exeter</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Jurys Inn Hotel.
        <p>
            Western Way, Exeter EX1 2DB, UK
<p>
        </p>
        <p><a class="btn btn-warning" href="https://www.jurysinns.com/hotels/exeter">Vist Website</a></p>
        <a href="@Url.Content("~/Images/Exeter Hotel.pdf")">See Reservation</a>
    </div>


    <div class="col-md-4">
        <h2>Sights</h2>

        <div class="row">
            <div class="col-md-6">Exeter Cathedral</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.exeter-cathedral.org.uk/">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">City walls walking tour</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.lonelyplanet.com/england/exeter/in-location/self-guided-tours/b785c395-635e-4090-807d-63f0560d6159/a/nar/b785c395-635e-4090-807d-63f0560d6159/359004">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">Dartmoor</div>
            <div class="col-md-4"><a class="btn btn-primary" href="http://www.dartmoor.gov.uk/">Visit Website</a><p></p></div>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <div class="row">
            <div class="col-md-6">Jurrasic Coast History</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://jurassiccoast.org/">Visit Website</a><p></p></div>
        </div>
        <div class="row">
            <div class="col-md-6">Restaurants</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.tripadvisor.com/Restaurants-g190817-Weymouth_Dorset_England.html">Visit Website</a><p></p></div>
        </div>
    </div>
</div>
