@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>England 2018</h1>
    <p class="lead">Plans</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>General Info</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Around</h2>
        <a href="@Url.Content("~/Images/Enterprise Car Reservation.pdf")">Car Reservation</a>
    </div>
    <div class="col-md-4">
        <h2>History and Geography Themes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

