

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Monday, December 31st</H4>
    <p>Salisbury</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Qudos Hotel
        <p>38 Castle Street, Salisbury SP1 1BN England</p>
        <p>
            01722 413755
            info@qudossalisbury.co.uk
        </p>

        <p><a class="btn btn-warning" href="http://www.qudossalisbury.co.uk/contact.php">Vist Website</a></p>
    </div>
    

<div class="col-md-4">
    <h2>Sights</h2>

    <div class="row">
        <div class="col-md-6">StoneHenge</div>
        <div class="col-md-4"><a class="btn btn-primary" href="https://www.english-heritage.org.uk/visit/places/stonehenge/">Visit Website</a><p></p></div>
    </div>

</div>
<div class="col-md-4">
    <h2>Other</h2>
    <div class="row">
        <div class="col-md-6">StoneHenge History</div>
        <div class="col-md-4"><a class="btn btn-success" href="https://en.wikipedia.org/wiki/Stonehenge">Visit Website</a><p></p></div>
    </div>
    <div class="row">
        <div class="col-md-6">Qudos New Year's Eve</div>
        <div class="col-md-4"><a class="btn btn-success" href="http://www.qudossalisbury.co.uk/newyear.php">Visit Website</a><p></p></div>
    </div>
</div>
</div>
