
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Saturday, December 29th</H4>
    <p>Weymouth</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Best Western Hotel Rembrandt
        <p>
            12-18 Dorchester Road
            Weymouth
            Dorset
            DT4 7JU
            England
        <p>

        </p>
        <p><a class="btn btn-warning" href="https://www.bestwestern.co.uk/hotels/best-western-hotel-rembrandt-83952">Vist Website</a></p>
        <a href="@Url.Content("~/Images/Weymouth Hotel.pdf")">See Reservation</a>

    </div>

    <div class="col-md-4">
        <h2>Sights</h2>

            <div class="row">
                <div class="col-md-6">Weymouth Harbor</div>
                <div class="col-md-4"><a class="btn btn-primary" href="http://www.weymouth-harbour.co.uk/#">Visit Website</a><p></p></div>
            </div>

            <div class="row">
                <div class="col-md-6">Jurassic Coast Walk</div>
                <div class="col-md-4"><a class="btn btn-primary" href="https://jurassiccoast.org/discover/things-to-do/walking-the-jurassic-coast/">Visit Website</a><p></p></div>
            </div>

            <div class="row">
                <div class="col-md-6">Jurassic Skyline view</div>
                <div class="col-md-4"><a class="btn btn-primary" href="https://www.jurassicskyline.com/">Visit Website</a><p></p></div>
            </div>

            <div class="row">
                    <div class="col-md-6">Sandsfoot Castle</div>
                    <div class="col-md-4"><a class="btn btn-primary" href="http://www.sandsfootcastle.org.uk/">Visit Website</a><p></p></div>
            </div>

        </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <div class="row">
            <div class="col-md-6">Jurrasic Coast History</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://jurassiccoast.org/">Visit Website</a><p></p></div>
        </div>
        <div class="row">
            <div class="col-md-6">Restaurants</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.tripadvisor.com/Restaurants-g190817-Weymouth_Dorset_England.html">Visit Website</a><p></p></div>
        </div>
    </div>
</div>