
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Sunday, December 30th</H4>
    <p>Salisbury</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Qudos Hotel
        <p>38 Castle Street, Salisbury SP1 1BN England</p>
        <p>
            01722 413755
            info@qudossalisbury.co.uk
        </p>

        <p><a class="btn btn-warning" href="http://www.qudossalisbury.co.uk/contact.php">Vist Website</a></p>

    </div>

    <div class="col-md-4">
        <h2>Sights</h2>

        <div class="row">
            <div class="col-md-6">Salisbury Cathedral</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.salisburycathedral.org.uk/">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">Salisbury Museum</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://salisburymuseum.org.uk/">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">Old Sarum</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.english-heritage.org.uk/visit/places/old-sarum/">Visit Website</a><p></p></div>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <div class="row">
            <div class="col-md-6">Walking Tour/Tourist Map</div>
            <div class="col-md-1"><a class="btn btn-success" href="https://www.visitwiltshire.co.uk/dbimgs/City%20Centre%20Map%20Lowres.pdf">map</a><p></p></div>
            <div class="col-md-1"><a class="btn btn-success" href="https://www.planetware.com/tourist-attractions-/salisbury-eng-wlt-sa.htm">Tour 1</a><p></p></div>
            <div class="col-md-1"><a class="btn btn-success" href="https://www.gpsmycity.com/tours/city-orientation-walk-5155.html">Tour 2</a><p></p></div>
        </div>
        <div class="row">
            <div class="col-md-6">Restaurants</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.tripadvisor.com/Restaurants-g186414-Salisbury_Wiltshire_England.html">Visit Website</a><p></p></div>
        </div>
    </div>
</div>

