
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Sunday, December 30th</H4>
    <p>Salisbury</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Qudos Hotel
        <p>38 Castle Street, Salisbury SP1 1BN England</p>
<p>
    01722 413755
    info@qudossalisbury.co.uk
</p>

        <p><a class="btn btn-warning" href="http://www.qudossalisbury.co.uk/contact.php">Vist Website</a></p>
    </div>

    <div class="col-md-4">
        <h2>Sights</h2>

        <div class="row">
            <div class="col-md-6">Salisbury Cathedral</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.salisburycathedral.org.uk/">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">Salisbury Museum</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://salisburymuseum.org.uk/">Visit Website</a><p></p></div>
        </div>

        <div class="row">
            <div class="col-md-6">Old Sarum</div>
            <div class="col-md-4"><a class="btn btn-primary" href="https://www.english-heritage.org.uk/visit/places/old-sarum/">Visit Website</a><p></p></div>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <div class="row">
            <div class="col-md-6">Walking Tour/Tourist Map</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.visitwiltshire.co.uk/dbimgs/City%20Centre%20Map%20Lowres.pdf">map</a><p></p></div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.planetware.com/tourist-attractions-/salisbury-eng-wlt-sa.htm">Tour 1</a><p></p></div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.gpsmycity.com/tours/city-orientation-walk-5155.html">Tour 2</a><p></p></div>
        </div>
        <div class="row">
            <div class="col-md-6">Restaurants</div>
            <div class="col-md-4"><a class="btn btn-success" href="https://www.tripadvisor.com/Restaurants-g190817-Weymouth_Dorset_England.html">Visit Website</a><p></p></div>
        </div>
    </div>
</div>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Sunday, December 30th</H4>
    <p>Salisbury</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Qudos Hotel
        <p>38 Castle Street, Salisbury SP1 1BN England<p>

        </p>
        <p><a class="btn btn-default" href="https://www.premierinn.com/gb/en/hotels/england/devon/exeter/exeter-city-centre.html?ARRdd=05&ARRmm=12&ARRyyyy=2018&NIGHTS=1&ROOMS=1&ADULT1=1&CHILD1=0&COT1=0&INTTYP1=DB&BRAND=PI">See Website</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sights</h2>
        <p>Exeter Cathedral <a class="btn btn-default" href="https://www.exeter-cathedral.org.uk/">Go to Website</a></p>
        <p>City walls walking tour <a class="btn btn-default" href="       https://www.lonelyplanet.com/england/exeter/in-location/self-guided-tours/b785c395-635e-4090-807d-63f0560d6159/a/nar/b785c395-635e-4090-807d-63f0560d6159/359004">Go to Website</a></p>
        <p>Dartmoor <a class="btn btn-default" href="http://www.dartmoor.gov.uk/">Go to Website</a></p>

    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

