
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <H4 class="lead">Thursday, December 27th</H4>
    <p>Penzance, Cornwall</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accomodations</h2>
        <p>
            Premier Inn Exeter City Centre Hotel.
            <p>2 Southernhay Gardens, Exeter, Devon
            EX1 1SG<p>

        </p>
        <p><a class="btn btn-default" href="https://www.premierinn.com/gb/en/hotels/england/devon/exeter/exeter-city-centre.html?ARRdd=05&ARRmm=12&ARRyyyy=2018&NIGHTS=1&ROOMS=1&ADULT1=1&CHILD1=0&COT1=0&INTTYP1=DB&BRAND=PI">See Website</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sights</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>